{% extends '@theme/blog_base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Threads</h1>
    <div class="container">
        <a href="{{ path('thread_add') }}" class="btn">Add Thread</a>
        <a href="{{ path('thread_list_sorted', {'sortBy' : 'date'}) }}" class="btn">Sort By Date</a>
        <a href="{{ path('thread_list_sorted', {'sortBy' : 'views'}) }}" class="btn">Sort By Views</a>
        <a href="{{ path('thread_list_sorted', {'sortBy' : 'replies'}) }}" class="btn">Sort By Posts</a>
        <hr/>
        {% if threads is not empty %}
            {% for entity in threads %}
                <div class="blog-post">
                    {% block show_post %}
                        {{ include('@theme/thread/show.html.twig') }}
                    {% endblock %}
                </div>
                <hr/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}