<h2 class="blog-post-title">{{ entity.title }}</h2>
<p class="blog-post-meta">Author: {{ entity.author }}</p>
<p>{{ entity.body }}</p>
<a href="{{ path('thread_view', {'id': entity.id}) }}">View Thread</a>

{% include('@theme/vote/votes.html.twig')  %}