<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}| Demo Blog</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link href="{{ asset('bundles/app/css/blog.css') }}" rel="stylesheet"/>
    {% endblock %}
    {{ include('@Spam/head.html.twig') }}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="{{ asset('bundles/vote/js/vote.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    <div class="blog-masthead">

        <div class="container">
            <nav class="nav">
                    <a class="nav-link" href="{{ path('thread_list') }}">Home</a>
                {% include('@theme/navigation.html.twig')  %}
            </nav>
        </div>
    </div>
    <div class="blog-header">
        <div class="container">
            {% block header %}
                <h1 class="blog-title">Demo Blog</h1>
            {% endblock %}
        </div>
    </div>
</header>
<main role="main" class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>

</main>
{% block footer %}{% endblock %}
</body>
</html>
