{% if app.user %}
    <a class="nav-link" href="{{ path('logout') }}">Log Out</a>
{% else %}
    <a class="nav-link" href="{{ path('user_registration') }}">Register</a>
    <a class="nav-link" href="{{ path('user_login') }}">Log In</a>
{% endif %}