{% extends '@theme/blog_base.html.twig' %}

{% block title %}
    New Post
{% endblock %}

{% block main %}
    <h1>New Post</h1>
    {{ form_errors(form) }}
    {{ form_start(form) }}

    {{ form_row(form.title, {'attr' : {'class' : 'form-control', 'placeholder' : 'Title'}}) }}
    {{ form_row(form.body, {'attr' : {'class' : 'form-control', 'placeholder' : 'Body'}}) }}

    {{ include('@theme/capcha.html.twig') }}
    <br>
    <button class="btn btn-primary" type="submit">Add Post</button>
    <a href="{{ path('thread_view', {'id': thread_id}) }}" class="btn">Cancel</a>
    {{ form_end(form) }}
{% endblock %}


