{% extends '@theme/blog_base.html.twig' %}

{% block title %}
    Show Thread
{% endblock %}

{% block main %}
    <h1>Posts</h1>
    <div class="container">
        <a href="{{ path('post_add', {'threadId': thread_id}) }}" class="btn">Add Post</a>
        <a href="{{ path('thread_list') }}" class="btn">Back</a>
        <hr/>
        {% if posts is not empty %}
            {% for entity in posts %}
                <div class="blog-post">
                    {{ include('@theme/post/show.html.twig') }}
                </div>
                <hr/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}