<h2 class="blog-post-title">{{ entity.title }}</h2>
<p class="blog-post-meta">Author:{{ entity.author }}</p>
<p class="blog-post-meta">Created date: {{ entity.createdDate|date("d/m/Y") }}</p>
<p>{{ entity.body }}</p>

{% include('@theme/vote/votes.html.twig')  %}