{% extends '@theme/blog_base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_errors(form) }}

    {{ form_start(form, {'attr' : {'class' : 'form-login'}}) }}

    {{ form_row(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'User Name'}}) }}

    {{ form_row(form.password, {'attr' : {'class' : 'form-control', 'placeholder' : 'Password'}}) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    {{ form_end(form) }}
{% endblock %}