{% extends '@theme/blog_base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {{ form_errors(form) }}
    {{ form_start(form, {'attr' : {'class' : 'form-singin'}}) }}

    {{ form_row(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'User Name'}}) }}

    {{ form_row(form.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'Email'}}) }}
    {{ form_row(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'Password'}}) }}

    {{ form_row(form.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'Confirm Password'}}) }}
    {{ form_row(form.termsAccepted, {'attr' : {'class' : 'checkbox'}}) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

    {{ form_end(form) }}
{% endblock %}