{% if app.user %}
    {# Only display the voting system if the user is logged in. #}
    <button class="btn btn-default" onclick="sendVote('{{ class(entity)|e('js') }}', {{ entity.id }}, 1)">Up Vote</button>
    <button class="btn btn-default" onclick="sendVote('{{ class(entity)|e('js') }}', {{ entity.id }}, -1)">Down Vote</button>
    <span id="vote-{{ entity.id }}">{{ entity.getEntityVotes }}</span>
{% endif %}
